.header {
    display: flex;
    align-items: center;
    background-color: #36cfc9;
    color: #fff;

    .logo {
        font-family: Futura;
        text-align: center;
        padding: 1rem;
    }
    .navigator {
        flex: 1;
        display: flex;
        margin: 0;
        .navigatorItem {
            // width: 5rem;
            text-align: center;
            padding: 1rem;
            list-style: none;
            cursor: pointer;
            color: #fff;
            transition: background 0.3s ease-in-out;
        }
        .navigatorItem:hover {
            background: #08979c;
        }
    }
    .other {
        padding: 1rem;
    }
}
