.header {
    display: flex;
    align-items: center;
    background-color: #36cfc9;
    color: #fff;
    .logo {
    }
    .navigator {
        flex: 1;
        display: flex;
        margin: 0;
        .navigatorItem {
            // width: 5rem;
            text-align: center;
            padding: 1rem;
            list-style: none;
            cursor: pointer;
            color: #fff;
        }
        .navigatorItem:hover {
            background-color: #08979c;
        }
    }
}
