@keyframes flyIn {
    from {
        opacity: 0;
        margin-top: 10rem;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}
.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .loginForm {
        width: 300px;
        border: 1px solid #ccc;
        padding: 1rem;
        border-radius: 1rem;
        animation: flyIn 1s;
        .loginForm-title {
            font-family: Futura;
            text-align: center;
            padding: 1rem;
        }
        .loginForm-otherWays {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 2rem;
        }
        .loginForm-otherWays-icon {
            flex: 1;
            font-size: 1.3rem;
            transition: font-size 0.1s ease-in-out;
            cursor: pointer;
            color: #000;
            text-align: center;
        }
        .loginForm-otherWays-icon:hover {
            font-size: 2rem;
            color: #36cfc9;
        }
    }
}
